body{
    background-color: #484848;
    width: 100%;
  }
  
  .enlaces {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      height: 100%; 
    }
    
    .enlaces a {
      text-align: center;
      text-decoration: none;
      color: #ffffff; 
      width: 100%;
      margin-bottom: 30px; 
      font-size: 30px;
    }
  
    .enlaces a:hover{
      color:#b5b5b5 ;
      background-color: #5808a8;
    }
  
    .logo {
      margin-top: -60px;
      max-width: 100%; 
      height: auto; 
    }
  
    .enlaces{
      margin-top: -100px;
    }
  
  
    .offcanvas{
      background-color: #373737;
    }
  
    .enlaces .morado{
      color: #A669E3;
    }
  
    .flecha-cerrar{
      margin-left: -10px;
      background: transparent url('../img/svg/flecha_cerrar.svg') center/1em auto no-repeat;
      box-sizing: content-box;
      width: 1em;
      height: 1em;
      padding: 0.25em 0.25em;
      color: #000;
      border: 0;
      border-radius: 0.375rem;
      opacity: .5;
      transform: rotate(180deg);
    }
  
  .boton-fijo{
      position: fixed;
      top: 25px;
      right: 0px;
      left: 25px;
      z-index: 1025;
  }
  
  .bg-color-morado {
    background-color: #6f2cb2;
    border: #5808a8;
  }
  
  .bg-color-morado {
    background-color: #6f2cb2;
    border: #5808a8;
  }
  
   .main-content {
    padding: 20px;
    min-height: 400px;
    color: #ffffff;
  }
  
  
  .sidebar {
    background-color: #373737;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    overflow-y: auto;
  }
  
  .imagen-perfil {
    border: 5px solid #fff; 
    min-width: 60px;
    width: 30%;
    max-width: 200px;
    margin-left: -15px;
    height: auto;
}

.nombre-usuario {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.imagen-pequena {
    margin-top: 10px;
    width: 50%; 
    max-width: 300px;
    min-width: 50px;
    height: auto;
}
  
.saldo_cuenta_card {
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #484848;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    max-height: 150px;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(26, 25, 25);
}

.titulo-card {
    color: #ACA6A6;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: span 2;
}

.saldo-card {
    text-align: left;
    font-size: 1.5rem;
}

@keyframes neon-border {
    0% {
        box-shadow: 0 0 10px 0px rgba(147, 65, 228, 0.8);
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(147, 65, 228, 0.8);
    }
    100% {
        box-shadow: 0 0 10px 0px rgba(147, 65, 228, 0.8);
    }
}

.boton-recargar {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: solid 5px;
    border-color: #9341E4;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    animation: none; 
    
}

.boton-recargar:hover {
    animation: neon-border 1.5s infinite; 
    box-shadow: 0 0 20px 10px rgba(147, 65, 228, 0.8); 
}

  @media (max-width: 1200px) {
    .sidebar {
      position: static;
      width: 100%;
      background-color: #373737;
      color: #ffffff;
      padding: 20px;
      top: 0;
      overflow-y: auto;
    }
  }
  
  @media (min-width: 1180px) {
    .elemento-oculto {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .elemento-oculto {
      display: none;
    }
  }

  .rotating-card {
    margin-top: 40px;
    perspective: 1000px;
    max-width: 450px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.rotating-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.rotating-card.is-flipped {
    transform: rotateY(360deg);
}